* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

span {
  display: block;
  text-wrap: nowrap;
}

/* .weather-container {
  min-height: calc(100vh - 3rem);
  background-color: #1f2128;
  background-image: url("/images/mainbackground.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 1024px;
  color: white;
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .weather-container {
    background-size: contain;
  }
}

@media (min-width: 1199px) {
  .weather-container {
    background-size: contain;
  }
} */
