* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  line-height: 1.5;
}

span {
  display: block;
  text-wrap: nowrap;
}

.weather-item {
  list-style: none;
  position: relative;
  cursor: pointer;
  transition: transform 0.12s ease-in-out;
  margin: auto;
  max-width: 24rem;
  padding-bottom: 1rem;
}

.weather-item:hover {
  transform: scale(0.98);
}

.weather-item__close {
  position: absolute;
  right: 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.2rem;
  border-style: none;
  padding: 0;
  font-size: 1.6rem;
  line-height: 1;
  color: white;
  background-color: inherit;
  transition: transform 0.12s ease-in-out;
  cursor: pointer;
}

.weather-item__close:hover {
  transform: scale(1.25);
}

@media (min-width: 769px) and (max-width: 1024px) {
  .weather-item {
    margin: 0;
    width: 22rem;
    padding-bottom: 0;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .weather-item {
    margin: 0;
    width: 30rem;
    padding-bottom: 0;
  }
}

@media (min-width: 1199px) {
  .weather-item {
    margin: 0;
    width: 30rem;
    padding-bottom: 0;
  }
}
